:root {
  --text-color: #452c22;
  --button-bg: #f7ded0;
  --body-bg: #f9f9f9;
  --form-section-bg: #fbf7f5;
}
body {
  background-color: var(--body-bg);
  color: var(--text-color);
}

/* Custom styles for demonstration purposes */
.gallery-container {
  padding: 40px 0px 25px 0px;
}
.gallery-container h1 {
  font-family: "Roboto";
  color: var(--text-color);
  font-size: 3.8rem;
}
.grid-item {
  border: 1px solid #ddd;
  margin: 2px;
  transition: box-shadow 0.9s ease; /* Adding transition for smooth effect */
}

/* Hover effect */
.grid-item:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
  cursor: pointer;
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio without distortion */
}
.fade-in {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.pagination-container a,
.pagination-container span {
  background-color: #ffbe98;
  color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  margin: 3px;
}

.pagination-container a:hover,
.pagination-container span:hover,
.pagination-container a:active,
.pagination-container span:active,
.pagination-container a:disabled,
.pagination-container span:disabled {
  background-color: #ffbe98 !important;
}

@media only screen and (max-width: 800px) {
  .gallery-container h1 {
    font-weight: 450;
    font-size: 2rem;
  }
}

.modal-container {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}
.modal-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* Dim background */
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  z-index: 1000; /* Ensure it is above other content */
}
.modal-container.inactive {
  opacity: 0;
  pointer-events: none; /* Disable interactions when inactive */
}
.modal-content {
  max-width: 80vw;
  max-height: 80vh; /* Limit the maximum height to maintain aspect ratio */
  object-fit: contain; /* Fit the image inside the container without stretching */
  position: relative;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensure content stays within rounded corners */
  background: #fff; /* White background for content */
  transform: scale(0.9); /* Slightly scaled down by default */
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
.modal-container.active .modal-content {
  transform: scale(1); /* Scale up to full size when active */
  opacity: 1; /* Fully visible when active */
}
.modal-content img {
  width: 100%;
  height: auto; /* Ensure image maintains aspect ratio */
  object-fit: contain; /* Fit the image inside the container without stretching */
  display: block; /* Ensure no additional space around image */
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.caption {
  margin-top: 15px; /* Adjust the top margin as needed */
  text-align: center;
  font-size: 18px; /* Font size for the caption */
  color: #fff; /* Caption text color */
  z-index: 100000;
  display: inline-block;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Additional styles for the full-size image */
#fullImage {
  max-width: 100%;
  max-height: 80vh;
}
