{% extends "snippets/base.html" %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'locator/css/locator.css' %}" />
{% endblock cssfiles %}
{% block content %}
    <div class="container">
        <h1>Upcoming Events</h1>
        {% if events %}
            <ul>
                {% for event in events %}<li>{{ event.name }} - {{ event.date }}</li>{% endfor %}
            </ul>
        {% else %}
            <p>No upcoming events</p>
        {% endif %}
    </div>
{% endblock content %}
