{% extends "snippets/base.html" %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock cssfiles %}
{% block content %}
    <section class="py-4 text-center intro-section" style= " background: url('{% static "media/images/index_background.jpg" %}') no-repeat center center; background-size: cover; background-attachment: fixed;">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto"
                 style="background-color: rgba(0, 0, 0, 0.5);
                        max-width: 100vw;
                        max-height: 400px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 20px">
                <h1 class="text-start" style="font-weight: 500; color: #FEECE2;">Welcome to Tailored Donuts Bakery</h1>
                <br>
                <p class="text-start fw-lighter"
                   style="color: #FEECE2;
                          font-family: Arial">
                    Enjoy our timeless selection of gluten and dairy-free baked goods, meticulously crafted to accommodate your dietary requirements. We take great pride in our role as a distinguished catering service headquartered in Middle Tennessee, serving since 2020.
                </p>
                <br>
                <a href="#about" class="btn btn-primary my-2 about-button">About</a>
            </div>
        </div>
    </section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>About.</h1>
                <p>
                    Welcome to Tailored Donuts, where taste meets health in every bite! Founded by Taylor, a lifelong lover of baking and healthy eating, our journey began in 2005 when Taylor first discovered her passion for creating mouthwatering desserts while baking alongside her family. Driven by a desire to combine her culinary skills with her newfound interest in nutrition, Taylor set out to revolutionize the world of donuts. What started as a hobby for friends and family quickly evolved into Tailored Donuts, a thriving business dedicated to crafting delicious treats with your well-being in mind.
                </p>
                <p>
                    At Tailored Donuts, we prioritize quality and health without sacrificing flavor. Our donuts are made using only the finest organic, unprocessed ingredients, ensuring that each bite is both satisfying and nourishing. Say goodbye to sugar crashes and hello to guilt-free indulgence! Located in Murfreesboro, Tennessee, Tailored Donuts offers special event and pop-up donut catering services. Whether you're planning a celebration or simply craving a tasty treat, we're here to elevate your experience with our wholesome and delicious creations. Join us on a journey of flavor and wellness with Tailored Donuts. Let's make every moment sweeter – together!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
