{% extends "snippets/base.html" %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock cssfiles %}
{% block content %}
    <div class="py-4 text-center welcome-container d-flex justify-content-center">
        <div class="row py-lg-5 welcome-row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 mx-auto welcome-column">
                <h1 class="text-center fw-light">Welcome to</h1>
                <h1 class="text-center fw-light">Tailored Donuts!</h1>
                <div class="col-10 mx-auto text-center">
                    <img class="home-page-logo img-fluid"
                         src="{% static '/images/navbar_logo_modified.png' %}"
                         alt="Tailored Donuts Logo">
                </div>
                <p class="text-center fw-light lh-md about-text">
                    Enjoy our timeless selection of gluten and dairy-sensitive baked goods, meticulously crafted to accommodate your dietary requirements. We take great pride in our role as a distinguished catering service headquartered in Middle Tennessee, serving since 2020.
                </p>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="mt-5 about-container text-md-lg">
            <div class="row d-flex justify-content-center">
                <div class="col text-md-lg">
                    <h1 class="text-center fw-light">Our Story</h1>
                    <hr>
                    <img src="{% static 'home/images/about-taylor.jpeg' %}"
                         class="about-image"
                         alt="About Taylor" />
                    <p class="fw-light font-italic lh-lg fade-in">
                        Welcome to Tailored Donuts, where every bite is a delightful adventure! Picture this: fluffy clouds of goodness, swirling with flavors that dance on your taste buds. It all began in 2005, when our founder, Taylor, discovered a magical passion for crafting mouthwatering desserts while baking alongside her family. From that moment, our mission was clear: to revolutionize the world of donuts with a dash of fun and a sprinkle of health-conscious joy!
                    </p>
                    <p class="fw-light font-italic lh-lg fade-in">
                        At Tailored Donuts, we're all about crafting treats that are not just delicious, but also good for you. We handpick only the finest organic, unprocessed ingredients, ensuring that each bite is a harmonious blend of satisfaction and nourishment. No more sugar crashes – just guilt-free indulgence and pure joy in every flavor-packed bite!
                    </p>
                    <p class="fw-light font-italic lh-lg fade-in">
                        Located in the heart of Murfreesboro, Tennessee, we're not just a bakery; we're your go-to destination for special events and pop-up donut delights. Whether you're celebrating life's milestones or simply craving a scrumptious treat, our wholesome creations are here to elevate your experience and make every moment sweeter.
                    </p>
                    <p class="fw-light font-italic lh-lg fade-in">
                        Join us on a flavorful journey where taste meets wellness, and let's make every bite an unforgettable celebration – together at Tailored Donuts!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block jsfiles %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock jsfiles %}
