{% extends "snippets/base.html" %}
{% load static %}
{% block cssfiles %}
    <!-- Include CSS files specific to this page -->
    <link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}" />
{% endblock cssfiles %}
{% block content %}
    <!-- Main content of the gallery page -->
    <div class="gallery-container">
        <div class="container">
            <!-- Gallery title and description -->
            <h1 class="fw-light text-center">Captured Moments</h1>
            <div class="font-italic fw-light text-center lh-md">Immerse yourself in tasty delights!</div>
            <hr>
            <!-- Modal for displaying full images -->
            <div class="modal-container inactive" id="modal">
                <div class="modal-content">
                    <!-- Close button for the modal -->
                    <span class="close" id="closeModalButton">&times;</span>
                    <!-- Full image displayed in the modal -->
                    <img id="fullImage" alt="Full Image" />
                    <!-- Caption and description for the full image -->
                    <div id="modalCaption" class="caption"></div>
                    <div id="modalDescription" class="caption"></div>
                </div>
            </div>
            <!-- Grid for displaying thumbnail images -->
            <div class="row g-1">
                {% for item in page_obj %}
                    <div class="col-md-4">
                        <div class="grid-item fade-in" style="height: 275px;">
                            <!-- Thumbnail image with data attributes for full image, title, and description -->
                            <img class="thumbnail"
                                 id="thumbnail"
                                 src="{{ item.image.url }}"
                                 data-full-image="{{ item.image.url }}"
                                 data-title="{{ item.image_title }}"
                                 data-description="{{ item.description }}"
                                 onclick="openModal(this)">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Pagination Links -->
            <div class="pagination justify-content-center mt-3 pagination-container">
                <!-- Previous page link -->
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="page-link mr-2">&lt;&lt;</a>
                    <a href="?page={{ page_obj.previous_page_number }}"
                       class="page-link mr-2">&lt;</a>
                {% else %}
                    <span class="page-link mr-2 disabled-pagination">&lt;&lt;</span>
                    <span class="page-link mr-2 disabled-pagination">&lt;</span>
                {% endif %}
                <!-- Numbered page links -->
                {% if page_obj.paginator.num_pages > 3 %}
                    {% if page_obj.number > 2 %}
                        <a href="?page=1" class="page-link ml-2">1</a>
                        <span class="page-link">...</span>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                            <span class="page-link current disabled-pagination">{{ num }}</span>
                        {% elif num >= page_obj.number|add:"-1" and num <= page_obj.number|add:"1" %}
                            <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.number < page_obj.paginator.num_pages|add:"-1" %}
                        <span class="page-link">...</span>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
                {% else %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                            <span class="page-link current">{{ num }}</span>
                        {% else %}
                            <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- Next page link -->
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link ml-2">&gt;</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"
                       class="page-link ml-2">&gt;&gt;</a>
                {% else %}
                    <span class="page-link ml-2 disabled-pagination">&gt;</span>
                    <span class="page-link ml-2 disabled-pagination">&gt;&gt;</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block jsfiles %}
    <!-- Include JavaScript file specific to this page -->
    <script src="{% static 'gallery/js/gallery.js' %}"></script>
{% endblock jsfiles %}
