/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #f5f0f2;
}

/* Welcome Section */
.welcome-container {
  background: url("/static/home/images/index_background.jpg") no-repeat center
    center;
  background-size: cover;
  background-attachment: fixed;
  display: flex; /* Flexbox for center alignment */
  align-items: center;
  justify-content: center;
}

.welcome-row {
  padding-top: 25px;
  width: 100vw;
}

.welcome-column {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 80vw;
}

.welcome-column h1 {
  font-weight: 450;
  color: #feece2;
  font-size: 3.8rem;
}

.welcome-column p {
  font-size: 1.5rem;
  color: #feece2;
}

.home-page-logo {
  max-height: 200px;
  max-width: 200px;
}

/* Card Image */
.card-image {
  height: 28vh;
  object-fit: cover;
}

/* About Section */
.about-container {
  background-color: #f5f0f2;
  color: #452c22;
  padding: 10px; /* Default padding */
}

.about-container h1 {
  font-weight: 450;
  color: #452c22;
  font-size: 3.8rem;
}

.about-container p {
  text-shadow: 1px 1px 2px #dad0cc;
  color: #42291f;
}

.custom-line-height-xl {
  line-height: 3;
}

.text-md-lg {
  font-size: 1.5rem;
}

.about-image {
  object-fit: cover;
  max-width: 50%;
  max-height: 40%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  float: left;
  margin-right: 20px;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  .custom-line-height-xl {
    line-height: 2;
  }

  .text-md-lg {
    font-size: 1.2rem;
  }

  .about-container {
    padding: 10px; /* Adjusted padding for small screens */
  }

  .about-container h1,
  .welcome-column h1 {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1.2rem !important;
  }
}
