body {
  font-family: "Times New Roman";
  overflow-x: hidden;
}

/* parent container for the first section on the home page */
.welcome-container {
  background: url("../../../../static/media/images/index_background.jpg")
    no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

/* First row under the welcome container */
.welcome-row {
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-attachment: fixed;
}

/* Column on the parent container of the top section. Includes opaque background and welcome blurb */
.welcome-column {
  background-color: rgba(0, 0, 0, 0.5);
  width: 55vw;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-column h1 {
  font-weight: 500;
  color: #feece2;
}
.welcome-column p {
  color: #feece2;
  font-family: Arial;
}
.card-image {
  height: 28vh;
  object-fit: cover;
}
.home-page-logo {
  max-height: 200px;
  max-width: 200px;
}

.about-container {
  height: 100vh;
  width: 100vw;
  background-color: #f7ded0;
}
.about-button {
  background-color: #f7ded0;
  border: none;
  color: #242424;
  font-family: Arial;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */

  /* Add padding and border-radius for better appearance */
  padding: 10px 20px;
  border-radius: 5px;
}

/* Hover effect */
.about-button:hover {
  background-color: #f7ded0;
  color: #242424;
}
.about-button:active {
  background-color: #f7ded0;
  color: #242424;
}
.about-image {
  max-height: 50vh;
  border-radius: 10%;
  float: right;
}
