{% extends "./base.html" %}
{% load static %}
{% block content %}
    <!-- Product Details Section -->
    <div class="container">
        <main class="pt-5">
            <!-- Product Details Row -->
            <div class="row g-3">
                <!-- Product Image Column -->
                <div class="col-md-5 col-lg-5 order-md-first bg-light parent">
                    <!-- Product image -->
                    <img class="img-fluid mx-auto d-block"
                         alt="Responsive image"
                         src="{{ product.image.url }}"
                         style="height:50vh;
                                object-fit:cover" />
                </div>
                <!-- Product Info Column -->
                <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                    <!-- Product Title -->
                    <h1 class="mb-0 h4">{{ product.item_title }}</h1>
                    <hr>
                    <!-- Product Description -->
                    <p>{{ product.description }}</p>
                    <!-- Price and Quantity -->
                    <div class="border">
                        <div class="col border-bottom">
                            <div class="row p-3">
                                <div class="col-6">Half Dozen Price</div>
                                <div class="col-6 text-end">
                                    <span class="h4 fw-bold">${{ product.half_dozen_price }}</span>
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="col-6">Dozen Price</div>
                                <div class="col-6 text-end">
                                    <span class="h4 fw-bold">${{ product.dozen_price }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row p-3">
                                <div class="col-6">
                                    <!-- Quantity Selector for Half Dozen -->
                                    <label for="select">Half Dozen</label>
                                    &nbsp;
                                    <select id="select">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <!-- Quantity Selector for Dozen -->
                                    <label for="select">Dozen</label>
                                    &nbsp;
                                    <select id="select">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                                <div class="col-6 text-end">
                                    <!-- Add to Cart Button -->
                                    <button type="button"
                                            id="add-button"
                                            value=""
                                            class="btn btn-secondary btn-sm">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <br>
    </div>
{% endblock %}
