{% extends "./base.html" %}
{% load static %}
{% block content %}
    <!-- Introduction section -->
    <section class="py-4 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h4>Welcome to Tailored Donuts</h4>
                <br>
                <p class="lead text-muted">Browse our extensive collection of amazing donuts and other great items..</p>
                <br>
            </div>
        </div>
    </section>
{% endblock %}
