{% extends "./base.html" %}
{% load static %}
{% block content %}
    <!-- Introduction section -->
    <section class="py-4 text-center" style="width: 100vw; height: 70vh">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h2>Welcome to Tailored Donuts Bakery</h2>
                <br>
                <p class="lead text-muted">Classic gluten and dairy free baked donuts to fit your dietary needs.</p>
                <br>
                <a href="#shop"
                   class="btn btn-primary my-2"
                   style="background-color:#FFBE98;
                          border:none;
                          color:black">Shop</a>
            </div>
        </div>
    </section>
    <!-- All products section -->
    <div class="album py-5" id="shop"style="background-color:#F7DED0">
        <div class="container">
            <div class="pb-3 h5">All products</div>
            <hr>
            <br>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% for product in all_products %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="img-fluid"
                                 alt="Responsive image"
                                 src="{{ product.image.url }}"
                                 style="height:30vh;
                                        object-fit:cover" />
                            <div class="card-body">
                                <p class="card-text">
                                    <a class="text-info text-decoration-none"
                                       href="{{ product.get_absolute_url }}">{{ product.item_title }}</a>
                                </p>
                                <hr />
                                <div class="d-flex justify-content-between align-items-center">
                                    <p>Half Dozen: ${{ product.half_dozen_price }}</p>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p>Dozen: ${{ product.dozen_price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
