footer {
  margin-top: auto; /* Push the footer to the bottom */
  background-color: #f7ded0;
  text-align: center;
  padding: 20px 0;
}
footer a,
footer p {
  font-family: "Roboto";
  font-size: 0.9rem;
}

.footer-button {
  background-color: #ffbe98;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); /* Drop shadow for depth */
}
.footer-button:hover {
  background-color: #452c22;
}
