.navbar-container {
  background-color: #f7ded0 !important;
}
.navbar-logo {
  max-height: 60px;
}

.navbar-anchor {
  color: #452c22;
  font-family: "Roboto";
  transition: color 0.3s ease;
}

.navbar-anchor:hover {
  color: #452c22;
}
.navbar-anchor:hover .navbar-anchor:not(:hover) {
  color: #6c757d; /* Muted color for other links in the same list item */
}
/* Styles for collapsed navbar */
@media (max-width: 991.98px) {
  .navbar-nav .nav-link {
    font-size: 1rem !important; /* Increase font size */
  }

  .navbar-nav .nav-item {
    padding-left: 10px !important; /* Add left padding */
  }
  .navbar-logo {
    padding-left: 10px;
  }
}
