.navbar-container {
  position: fixed; /* Fix the navbar to the top */
  top: 0; /* Position it at the top of the viewport */
  width: 100%; /* Occupy the full width of the viewport */
  z-index: 1000; /* Ensure it appears above other content */
  background-color: #f7ded0 !important; /* Your background color */
}
.navbar-logo {
  max-height: 60px;
}
.navbar-anchor {
  font-size: 1.3rem;
  color: #452c22;
  font-family: "Roboto";
  transition: color 0.3s ease;
}
.navbar-anchor:hover {
  color: #3d241e !important;
}
/* Active link color */
.navbar-anchor.active {
  color: #3d241e !important; /* Set active link color */
  font-weight: bold; /* Optionally, make the active link bold */
}

/* Styles for collapsed navbar */
@media (max-width: 991.98px) {
  .navbar-nav .nav-link {
    font-size: 1rem !important; /* Increase font size */
  }

  .navbar-nav .nav-item {
    padding-left: 10px !important; /* Add left padding */
  }
  .navbar-logo {
    padding-left: 10px;
  }
}
