{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav class="navbar navbar-expand-lg navbar-container" data-bs-theme="dark">
    <div class="container-fluid">
        <!-- Mobile logo -->
        <a class="navbar-brand d-lg-none" href="{% url 'home:home' %}">
            <img class="navbar-logo"
                 src="{% static '/images/navbar_logo_modified.png' %}" />
        </a>
        <!-- Desktop logo -->
        <a class="navbar-brand d-none d-lg-block" href="{% url 'home:home' %}">
            <img class="navbar-logo"
                 src="{% static '/images/navbar_logo_modified.png' %}" />
        </a>
        <!-- Navbar Toggler -->
        <button class="navbar-toggler custom-toggler-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarContent"
                aria-controls="navbarContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <div class="navbar-toggler-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link navbar-anchor {% if request.path == '/' %}active{% endif %}"
                       href="{% url 'home:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-anchor {% if request.path == '/inquiry/' %}active{% endif %}"
                       href="{% url 'inquiry:inquiry_url' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-anchor {% if request.path == '/locator/' %}active{% endif %}"
                       href="{% url 'locator:locator_url' %}">Find Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-anchor {% if request.path == '/gallery/' %}active{% endif %}"
                       href="{% url 'gallery:gallery_url' %}">Gallery</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block jsfiles %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
{% endblock jsfiles %}
