{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<!-- This is a navigation bar (navbar) using Bootstrap's navbar component -->
<nav class="navbar navbar-expand-lg bg-primary navbar-container"
     data-bs-theme="dark">
    <div class="container-fluid">
        <!-- Container to hold the navbar content -->
        <a class="navbar-brand d-lg-none" href="{% url 'home:home' %}">  <!-- Show only on mobile (hidden on lg and larger screens) -->
            <img class="navbar-logo"
                 src="{% static 'media/images/navbar_logo_modified.png' %}" />
        </a>
        <a class="navbar-brand d-none d-lg-block" href="{% url 'home:home' %}">
            <img class="navbar-logo"
                 src="{% static 'media/images/navbar_logo_modified.png' %}" />
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarColor01"
                aria-controls="navbarColor01"
                aria-expanded="true"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <!-- No left padding here -->
                    <a class="nav-link navbar-anchor" href="{% url 'home:home' %}">Home</a> <!-- Normal font size -->
                </li>
                <li class="nav-item">
                    <!-- No left padding here -->
                    <a class="nav-link navbar-anchor" href="{% url 'inquiry:inquiry_url' %}">Contact Us</a> <!-- Normal font size -->
                </li>
                <li class="nav-item">
                    <!-- No left padding here -->
                    <a class="nav-link navbar-anchor" href="{% url 'menu:menu_url' %}">Menu</a> <!-- Normal font size -->
                </li>
                <li class="nav-item">
                    <!-- No left padding here -->
                    <a class="nav-link navbar-anchor" href="#">Gallery</a> <!-- Normal font size -->
                </li>
            </ul>
        </div>
    </div>
</nav>
