{% load static %}
<!-- This is a navigation bar (navbar) using Bootstrap's navbar component -->
<nav class="navbar navbar-expand-lg bg-primary"
     style="background-color:#F7DED0 !important"
     data-bs-theme="dark">
    <div class="container-fluid">
        <!-- Container to hold the navbar content -->
        <a class="navbar-brand d-lg-none" href="{% url 'store:store' %}">  <!-- Show only on mobile (hidden on lg and larger screens) -->
            <img src="{% static 'media/images/navbar_logo_modified.png' %}"
                 style="max-height: 60px">
        </a>
        <a class="navbar-brand d-none d-lg-block" href="{% url 'store:store' %}">
            <img height="60px"
                 src="{% static 'media/images/navbar_logo_modified.png' %}"
                 style="max-height: 60px">
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarColor01"
                aria-controls="navbarColor01"
                aria-expanded="true"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse"
             id="navbarColor01"
             style="background-color: #F7DED0 !important">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active"
                       style="color:#452c22;
                              font-family: Arial;
                              transition: color 0.3s ease"
                       onmouseover="this.style.color='#FFBE98';"
                       onmouseout="this.style.color='#452c22';"
                       href="{% url 'store:store' %}">Home</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link"
                       style="color:#452c22;
                              font-family: Arial;
                              transition: color 0.3s ease"
                       onmouseover="this.style.color='#FFBE98';"
                       onmouseout="this.style.color='#452c22';"
                       href="{% url 'contact:contact_url' %}">Inquiry</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link"
                       style="color:#452c22;
                              font-family: Arial;
                              transition: color 0.3s ease"
                       onmouseover="this.style.color='#FFBE98';"
                       onmouseout="this.style.color='#452c22';"
                       href="{% url 'contact:contact_url' %}">Menu</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link"
                       style="color:#452c22;
                              font-family: Arial;
                              transition: color 0.3s ease"
                       onmouseover="this.style.color='#FFBE98';"
                       onmouseout="this.style.color='#452c22';"
                       href="{% url 'contact:contact_url' %}">Gallery</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link"
                       style="color:#452c22;
                              font-family: Arial;
                              transition: color 0.3s ease"
                       onmouseover="this.style.color='#FFBE98';"
                       onmouseout="this.style.color='#452c22';"
                       href="{% url 'contact:contact_url' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
