{% extends "snippets/base.html" %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'inquiry/css/inquiry-form.css' %}" />
{% endblock cssfiles %}
{% block content %}
    {% if messages %}
        <div class="alert alert-success alert-dismissible fade show text-center success-message"
             role="alert">
            {% for message in messages %}{{ message }}{% endfor %}
        </div>
    {% endif %}
    <div class="container d-flex justify-content-center form-container">
        <div class="col-sm col-md">
            <h1 class="fw-light text-center">Contact Us</h1>
            <div class="font-italic fw-light text-center lh-md">Drop Us a Note or Inquire About Catering Services!</div>
            <form method="post"
                  id="contact-form"
                  action="{% url 'inquiry:submit_inquiry_url' %}">
                <br>
                {% csrf_token %}
                <fieldset>
                    <legend class="fw-light h3">
                        Contact Info:
                        <p class="text-muted" style="font-size: 0.75rem">(required)</p>
                    </legend>
                    <div class="form-row mb-3">
                        <div class="form-group col">
                            <input type="text"
                                   class="form-control form-input rounded-0"
                                   id="first-name"
                                   name="first-name"
                                   placeholder=" "
                                   required />
                            <label for="first-name" class="required-field text-muted">First Name</label>
                        </div>
                        <div class="form-group col">
                            <input type="text"
                                   class="form-control form-input rounded-0"
                                   id="last-name"
                                   name="last-name"
                                   placeholder=" "
                                   required />
                            <label for="last-name" class="required-field text-muted">Last Name</label>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="form-group col">
                            <input type="text"
                                   class="form-control form-input rounded-0"
                                   id="phone-number"
                                   name="phone-number"
                                   placeholder=" "
                                   required
                                   pattern="[0-9]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}|[0-9]{3}-[0-9]{3}-[0-9]{4}" />
                            <label for="phone-number" class="required-field text-muted">Phone Number</label>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="form-group col">
                            <input type="email"
                                   class="form-control form-input rounded-0"
                                   id="email"
                                   name="email"
                                   placeholder=" "
                                   required
                                   pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
                            <label for="email" class="required-field text-muted">Email</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="fw-light h3">
                        Message:
                        <p class="text-muted" style="font-size: 0.75rem">(required)</p>
                    </legend>
                    <div class="form-row mb-4">
                        <div class="form-group col">
                            <select class="form-control form-input rounded-0"
                                    id="subject"
                                    name="subject"
                                    required>
                                <option value="" disabled selected>Select a subject</option>
                                <option value="General">General</option>
                                <option value="Catering Request">Catering Request</option>
                                <option value="Feedback">Feedback</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="form-group col">
                            <textarea class="form-control form-input rounded-0 message-textarea"
                                      id="special-requests"
                                      name="special-requests"
                                      placeholder=""
                                      required></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary submit-button">Send</button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
    <script></script>
{% endblock content %}
{% block jsfiles %}
    <script src="{% static 'inquiry/js/inquiry-form.js' %}"></script>
{% endblock jsfiles %}
