{% extends "snippets/base.html" %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'inquiry/css/inquiry-form.css' %}" />
{% endblock cssfiles %}
{% block content %}
    <div class="container d-flex justify-content-center form-container">
        <form>
            <h1>Inquiry</h1>
            <div class="alert alert-warning disclaimer" role="alert">
                <strong>Disclaimer:</strong> Our team reviews each request carefully, but approval isn't guaranteed. Due to limited staffing, we can only accept 1-2 orders per month.
            </div>
            <br>
            <br>
            <div class="form-group">
                <div class="form-section">
                    <div class="row">
                        <h5>Contact Information</h5>
                        <div class="col-md-8 offset-md-4">
                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-input"
                                       id="first-name"
                                       placeholder=" "
                                       required />
                                <label for="first-name" class="required-field">First Name</label>
                            </div>
                        </div>
                        <div class="col-md-8 offset-md-4">
                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-input"
                                       id="last-name"
                                       placeholder=" "
                                       required />
                                <label for="last-name" class="required-field">Last Name</label>
                            </div>
                        </div>
                        <div class="col-md-8 offset-md-4">
                            <div class="form-group">
                                <select class="form-control form-input custom-select"
                                        id="best-time"
                                        placeholder=" "
                                        name="best-time"
                                        required>
                                    <option value="" selected disabled>Preferred Contact Time</option>
                                    <option value="morning">Morning</option>
                                    <option value="afternoon">Afternoon</option>
                                    <option value="evening">Evening</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8 offset-md-4">
                            <div class="form-group">
                                <input type="tel"
                                       class="form-control form-input"
                                       id="contact"
                                       placeholder=" "
                                       title="Enter a valid phone number: XXX-XXX-XXXX"
                                       required />
                                <label for="contact" class="required-field">Phone Number</label>
                            </div>
                        </div>
                        <div class="col-md-8 offset-md-4">
                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-input"
                                       id="company-name"
                                       placeholder=" "
                                       required />
                                <label for="company-name" class="required-field">Company Name (if applicable)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-section">
                    <div class="row">
                        <h5>Event Details</h5>
                        <div class="col-md-8 offset-md-4">
                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-input"
                                       id="quantity"
                                       placeholder=" "
                                       required />
                                <label for="quantity" class="required-field">Number of Guests</label>
                            </div>
                        </div>
                        <div class="col-md-8 offset-md-4">
                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-input"
                                       id="event-type"
                                       placeholder=" "
                                       required />
                                <label for="event-type" class="required-field">Event Type</label>
                            </div>
                        </div>
                        <div class="col-md-8 offset-md-4">
                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-input"
                                       id="venue"
                                       placeholder=" "
                                       required />
                                <label for="venue" class="required-field">Venue</label>
                            </div>
                        </div>
                        <div class="col-md-8 offset-md-4">
                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-input"
                                       id="event-date"
                                       placeholder=" "
                                       required />
                                <label for="event-date" class="required-field">Event Date (MM/DD/YYYY)</label>
                            </div>
                        </div>
                        <div class="col-md-8 offset-md-4">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input"
                                       type="radio"
                                       name="pickup-delivery"
                                       id="pickup"
                                       required>
                                <label class="form-check-label" for="pickup" style="font-size: large;">Pickup</label>
                            </div>
                            <div class="form-check form-check-inline ms-5">
                                <input class="form-check-input"
                                       type="radio"
                                       name="pickup-delivery"
                                       id="delivery"
                                       required>
                                <label class="form-check-label" for="delivery" style="font-size: large;">Delivery</label>
                            </div>
                        </div>
                        <div class="col-md-8 offset-md-4 form-group"
                             id="pickup-details"
                             style="display: none">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 ">
                                    <div clas="form-group">
                                        <input type="text"
                                               class="form-control form-input"
                                               id="pickup-name"
                                               placeholder=" "
                                               required />
                                        <label for="pickup-name" class="required-field">Who is Picking Up</label>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control form-input"
                                               id="pickup-date"
                                               placeholder=" "
                                               required />
                                        <label for="pickup-date" class="required-field">Pick Up Date (MM/DD/YYYY)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 offset-md-4 form-group"
                             id="delivery-details"
                             style="display: none">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control form-input"
                                               id="delivery-date"
                                               placeholder=" "
                                               required>
                                        <label for="delivery-date" class="required-field">Delivery Date (MM/DD/YYYY)</label>
                                    </div>
                                </div>
                                <br>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control form-input"
                                               id="delivery-address"
                                               placeholder=" "
                                               required>
                                        <label for="delivery-address" class="required-field">Delivery Address</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="large" style="color:#452c22">
                                        <strong><i>Delivery cost is calculated by mileage</i></strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-section">
                    <h5>Special Requests</h5>
                    <div class="row">
                        <div class="col offset-md-4">
                            <div class="form-group">
                                <input type="text"
                                       class="form-control"
                                       id="special-requests"
                                       placeholder=" " />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary submit-button">Send</button>
                </div>
            </div>
        </form>
    </div>
    <br>
{% endblock content %}
