/* Global Styles */
:root {
  --text-color: #452c22;
  --button-bg: #f7ded0;
  --body-bg: #f9f9f9;
  --form-section-bg: #fbf7f5;
}

body {
  background-color: var(--body-bg);
  color: var(--text-color);
}

/* Container Styles */
.form-container {
  font-family: "Roboto";
  color: var(--text-color);
  width: 60vw;
  padding: 25px;
}

.form-container h1 {
  font-family: "Roboto";
  color: var(--text-color);
  font-size: 3.8rem;
}

.form-container h5 {
  font-weight: bold;
}

.form-container p {
  margin: 20px 0;
  position: relative;
  display: inline-block;
}

/* Required Field Styles */
.required-field {
  background-color: transparent;
  padding: none;
  caret-color: var(--text-color);
}

.required-field::before {
  color: var(--text-color);
  background-color: transparent;
}

/* Container Styles */
.disclaimer,
.form-section {
  background-color: var(--form-section-bg);
  color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
}
/* Input and Label Styling */
/* Reset default styles */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Simplified input styles */
.form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  color: var(--text-color);
  transition: border-color 0.3s ease;
  border-left: none;
  border-top: none;
  border-right: none;
  background-color: #f9f9f9;
}

/* Focus and active state */
.form-input:focus,
.form-input:active {
  background-color: #f9f9f9;
  outline: none;
  border-bottom-color: var(--text-color);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

/* Message textarea Styles */
#special-requests {
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  max-width: 80vw;
  padding: 20px 10px 40vh 10px;
  resize: none;
  height: 25vh !important;
}

/* Button Style */
.submit-button,
.submit-button:active,
.submit-button:hover {
  background-color: var(--button-bg);
  color: var(--text-color);
  font-family: "Roboto";
  padding: 10px 20px;
  border: 1px solid #cccccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s ease-in-out;
}

/* Label Styles */
label {
  color: var(--text-color);
  pointer-events: none;
  position: absolute;
  top: 0;
  margin-top: 3px;
  transition: opacity 0.2s, transform 0.2s;
  font-size: medium;
  padding: 0px;
  background-color: rgba(251, 247, 245, 0);
}

/* Move input labels to top of field when label is active. */
input:focus + label,
input:not(:placeholder-shown) + label {
  background-color: #f9f9f9;
  transform: scale(0.75) translateY(-70%) translateX(-14px);
  font-size: small;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 800px) {
  .form-container {
    width: 90vw;
  }
}

.success-message {
  background-color: #674233;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  max-width: 60vw; /* Adjust the max-width as needed */
  padding: 10px;
}
