:root {
  --text-color: #452c22;
  --light-bg: #feece2;
  --button-bg: #f7ded0;
}

/* General Styles */
.form-container {
  padding: 20px;
  font-family: Arial;
  color: #452c22;
  width: 60%;
}
h1 {
  font-family: "Times New Roman";
  color: #452c22;
}
.required-field {
  background-color: #f7ded0;
}

.required-field::before {
  content: "*";
  color: #452c22;
  margin-left: 2px;
}

/* Form Styling */
form {
  min-width: 75%;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #452c22;
}

/* Input and Label Styling */
input[type="text"],
input[type="tel"],
input[type="radio"],
textarea,
.form-input {
  background-color: #f7ded0;
  border: none; /* Remove all borders */
  border-bottom: 1px solid #452c22; /* Only keep the bottom border */
  outline: none;
  max-width: 80vw;
  padding-left: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input:focus,
.form-input:active {
  border: none; /* Remove all borders */
  border-bottom: 1px solid #452c22; /* Only keep the bottom border */
  outline: none;
  background-color: #f7ded0;
}

.submit-button {
  background-color: #f7ded0;
  color: #452c22;
  font-family: Arial;
  transition: #f7ded0 0.3s, color 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.submit-button:hover,
.submit-button:active,
.submit-button:focus,
.submit-button:visited,
.submit-button:target {
  background-color: #f7ded0;
  color: #452c22;
  border: none;
}

/* Label Animation */
label {
  background-color: #f7ded0;
  color: #452c22;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.2s, transform 0.2s;
  opacity: 0.75;
  background: #f7ded0;
  font-size: x-small;
  padding-left: 3px;
  padding-top: 3px;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  background-color: #f7ded0;
  opacity: 1;
  transform: scale(0.75) translateY(-70%) translateX(-14px);
  font-size: small;
}

/* Additional Styling */
p {
  margin: 20px 0;
  position: relative;
  display: inline-block;
}
.disclaimer {
  background-color: #f7ded0;
  color: #452c22;
}
select:hover {
  cursor: pointer;
}

.form-control#best-time option {
  font-size: small;
}
.form-check-input:checked {
  background-color: red;
  border-color: #452c22;
}
textarea {
  resize: none;
  height: 25vh !important;
}

.form-section {
  background-color: #f7ded0;
  padding: 20px;
}
